body {
  position: relative;
}
.innerMain {
  width: 1200px;
  margin: 0 auto;
}

/* text */
.largeTitle {
  font-size: 34px;
  font-weight: bold;
  color: #000;
}
.title1Text {
  font-size: 28px;
  color: #000;
}
.title2Text {
  font-size: 22px;
  color: #000;
}
.headlineText {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.footerText {
  font-size: 13px;
}
.captionText {
  font-size: 12px;
}
/* text 정렬 */
.textRight {
  text-align: right;
}
/* flex */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.flexEnd {
  display: flex;
  justify-content: end;
}